#dpsharnessUI #rightcontent{
	float: right;
	/*border-left: 1px solid #000000;*/
	width: 20%;
}

#dpsharnessUI #leftcontent{
	float: left;
	/*border-right: 1px solid #000000;*/
	width: 25%;
}

#dpsharnessUI #middlecontent{
	width: 45%;
	float: left;
}


#dpsharnessUI .harnesscontent{
	margin: 0;
	padding: 5px;
	clear: none;
	display: inline;
}

#dpsharnessUI .clearfix{
	clear: both;
	display: block;
}

#dpsharnessUI {
	background: url(../images/ui-bg.jpg) repeat-y !important;
	border: 1px solid #000000;
}

#dpsharnessUI ul{
	margin: 0;
}